/*
Project Name: Ride Management
Client: Leon Noel
Author: Will Cohen
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     /*border: thin solid black;*/
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	/*padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	/*padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
     color: #000;
     font-size: 10px;
     line-height: 1.4;
     font-family: "Work Sans", Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}
header, footer, .formRow {
  width: 98%;
  margin: 0 1%;
}
aside, section {
  margin: 0 1%;
}
aside, .formRow label {
  width: 33%;
  display: inline-block;
}
section, .formRow input {
  width: 63%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.button {
  display: inline-block;
  text-align: center;
  font-size: .75rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin: 1% 1.3%;
  width: 45%;
  background: grey;
  color: white;
  text-decoration: none;
}
.card {
  background: rgba(252, 249, 254, 1);
  margin-bottom: 1rem;
  box-shadow: .5px .5px 1px black;
}
.formRow label{
 font-size: 1.05rem;
}
.formRow input{
  padding: .25rem 0;
}
.formRow {
  margin-bottom: .5rem;
  padding-left: 1.5%;
}
.titleFont{
  font-weight: 400;
  font: "Lato", sans-serif;
  margin: .25rem .5rem;
  text-transform: uppercase;;
}
ul li {
  font-size: 1.05rem;

}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.25rem;
}
